.App {
  text-align: center;
}

.modal {
  background-color: #e3e3e3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10em auto;
  min-width: 200px;
  padding: 1em 2em;
}


.no-data-text {
  color: #e3e3e3;
  font-size: larger;
}

.button-div {
  display: flex;
  justify-content: center;
  margin: 1.5em;
}

.content-img {
  width: 50vw;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

input[type="file"] {
  display: none;
}

.image-upload {
  background-color: #e3e3e3;
  border-radius: 5px;
  color: #1f1f28 ;
  cursor: pointer;
  display: absolute;
  font-weight: 700;
  margin: 1.5em 1.5em 0 1.5em;
  padding: 10px 15px;
  line-height: 50px;
}

.add-txt-btn {
  background-color: #e3e3e3;
  border-radius: 5px;
  border: none;
  color: #1f1f28 ;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  margin: 0;
  padding: 10px 15px;
}

.post-btn {
  background-color: #e3e3e3;
  border-radius: 5px;
  border: none;
  color: #1f1f28 ;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  margin: auto 1em;
  padding: 10px 15px;
}

.create-btn {
  background-color: #e3e3e3;
  border-radius: 5px;
  border: none;
  color: #1f1f28 ;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  margin: 0.5em 1em;
  padding: 10px 15px;
}

.content-info {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Content */
.text-div {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
  margin: 1em;
  padding: 2em 2em;
}

.content-delete-btn {
  background-color: #1f1f28 ;
  border-radius: 5px;
  border: none;
  color: #e3e3e3;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  margin: 1em 1em 0 1em;
  padding: 10px 15px;
}

.image-content-div {
  align-items: center;
  background-color: #e3e3e3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 2em 2em;
}

/* Login Page */

.login-page {
  align-content: center;
  display: flex;
  flex-direction: columm;
  justify-content: center;
}

.login-wrapper {
  background-color: #e3e3e3;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #1f1f28  ;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  padding: 20px;
  width: 50%;
}

.login-h1 {
  color: #1f1f28 ;
  font-size: 2.5vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: #1f1f28 ;
  border: none;
  border-radius: 10px;
  color: #e3e3e3;
  font-size: medium;
  margin-top: 15px;
  padding: 10px 15px;
}

.login-input {
  border-color: #1f1f28 ;
  border-radius: 10px;
  box-shadow: none;
  height: 40px;
  margin: 10px;
  width: 50%;
}

.login-input:focus {
  border-color: #1f1f28 ;
  border-radius: 10px;
}

.login-button:hover {
  cursor: pointer;
  opacity: 90%;
}

/* Home Page */
.home-h1 {
  color: #e3e3e3;
}

.content-button {
  border: none;
  border-radius: 15px;
  color: #1f1f28 ;
  font-size: larger;
  font-weight: 600;
  margin: 1em;
  padding: 3em;
  width: 15%;
  min-width: 300px;
}

.content-button:hover {
  cursor: pointer;
  opacity: 90%;
}

/* Articles Page */

.articles-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-div {
  background-color: #e3e3e3;
  border-radius: 10px;
  margin-top: 5px;
  width: 70%;
}

.article-card {
  display: flex;
  padding: 10px;
}

.article-card-even {
  background-color: #d2d1d1;
  display: flex;
  padding: 10px;
}

.content-options {
 
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

/* Article Create/Edit */

.article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-header{
  margin-bottom: 2em;
}

.content-info-span {
  align-items: baseline;
  margin-left: 4em; 
  display: flex;
}

.content-title {
  color: #e3e3e3;
  margin-right: 20px;
  text-align: left;
}

.content-author {
  color: #e3e3e3;
  margin-right: 50px;
}

.text-div {
  display: flex;
  flex-direction: column;
}
/* Checklist Page */

.checklists-div {
  background-color: #e3e3e3;
  border-radius: 10px;
  margin-top: 5px;
  width: 70%;
}

.checklist-card {
  display: flex;
  padding: 10px;
}

.checklist-card-even {
  background-color: #d2d1d1;
  display: flex;
  padding: 10px;
}

.checklist-view-div {
  padding: 1em;
}

/* Checklist Create/Edit Page */ 

.checklist-item-div {
  display: flex;
  flex-direction: row;
  margin: 15px auto;
  width: 80%;
}

.list-item-h3 {
  color: #e3e3e3;
  margin-right: 5px;
  white-space: nowrap;
}

/* Learning Path Create/Edit */
.modal-div {
  background-color: #e3e3e3;
  border-radius: 15px;
  width: 70%;
  margin: 1em auto;
  padding: 1em 1em 1em 4em;
  
}

.content-title-h3 {
  color: #1f1f28;
  text-align: left;
  margin: .5em 1em 2em 2em;
}

.learning-path-content-div {
  background-color: #e3e3e3;
  border-radius: 10px;
  color: #1f1f28;
  margin: 1em auto;
  min-width: 500px;
  padding: 1em 2em;
  width: 70%;
}

.content-title-h3::first-letter {
  text-transform:capitalize;
}

.content-link {
  text-overflow: ellipsis;
}

.dark-btn {
  background-color:#1f1f28 ;
  border-radius: 5px;
  border: none;
  color: #e3e3e3;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  margin: auto 1em;
  padding: 10px 15px;
}

/* VIEW PAGES */

.view-page {
  width:100vw;
  height: fit-content;
  background-color: #ffffff;
  padding: 1em;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.view-page-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.view-page-description {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.view-page-text {
  text-align: left;
  margin-top: .5em, 1em;
  padding: 1em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  line-height: 35px;
}

.view-page-img {
  margin: 0 auto;
  padding: 1em;
  width: 60vw;
  min-width: 300px;
}

.view-page-img-div {
  margin: 2em auto;
  text-align: center;
}

.view-page-img-h4 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  margin-top: .5em;
}

.view-page-h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: .5em;
  padding-left: .5em;
  text-align: left;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}

.editor-class {
  background-color:white;
  padding: 1rem;
  border: 1px solid #ccc;
}

.toolbar-class {
  background-color: white;
  border: 1px solid #ccc;
}

.header-row {
  display: flex;
  align-items: flex-start;
  margin: 2em 1em 2em 4.5em;
}

.add-thumbnail-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-right: 4em;
  text-overflow: ellipsis;
}

.thumbnail-file {
  background-color: #f5f4f6;
  color:#9c9c9c;
  max-width: 200px;
  padding: 10px 15px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0 5px 5px 0;
}

.thumbnail-upload {
  background-color: #e3e3e3;
  border-radius: 5px 0 0 5px;
  color: #1f1f28 ;
  cursor: pointer;
  font-weight: 700;
  padding: 11px 15px;
  line-height: 75px;
}

.rich-editor {
  padding: 10rem;
 }

.rich-editor .rdw-editor-main {
  background-color: #fff;
 }

.rich-editor .DraftEditor-editorContainer {
  
 }

.draft-editor-wrapper {
  border: 1px solid #ccc;
}

.text-editor {
  padding-left: 10px;
}

@media screen and (max-width: 798px) {
  .login-wrapper {
    background-color: #e3e3e3;
    border-radius: 15px;
    margin-top: 5em;
    padding: 20px;
    width: 65%;
  }

  .login-h1 {
    color: #1f1f28 ;
    font-size: 130%;
  }

  .login-info-box {
    display: flex;
    margin-left: 12.5%;
    padding: 10px;
    width:auto;
    justify-content: space-between;
  }

  .modal-div {
    width: 80%;
  }

  .view-page-h1 {
    font-size: medium;
  }
}